.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25%;
}

.topbar {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 25%;
}

.topbar a {
    text-decoration: none;
    color: inherit;
    font-size: 13px;
    /* margin-right: 10px; */
}

.flex {
    width: 60%;
    height: 75px;
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
    z-index: 1001;
}


.navbar {
    width: 90%;
    margin-top: 20px;
    /* position: relative; */
    /* display: flex; */
}

.navbar ul {
    display: flex;
    font-size: 14px;
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.dropbtn {
    /* display: inline; */
    color: black;
    padding: 15px;
    text-decoration: none;
}

.dropbtn:hover {
    text-decoration: underline;
    color: green;
    background-color: rgb(53, 53, 53);
}

/* submenu hover 시, dropbtn hover 효과 유지 */
.dropdown:hover .dropbtn { 
    color: green;
    background-color: rgb(53, 53, 53);
}

.dropdown {
    /* position: relative; submenu 기준점 */
}

.navbar .submenu {
    display: none;
    position: fixed;
    min-width: 100vw;
    top: 84px;
    left: 0;
    background-color: rgb(53, 53, 53);
    padding: 20px 427px;
    z-index: 1000;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.dropdown:hover .submenu {
    display: flex;
}

.submenu li a:hover {
    text-decoration: underline;
    color: white;
}

.submenu li a {
    color: white;
    /* padding: 16px; */
    padding-right: 80px;
    text-decoration: none;
    font-weight: bold;
    /* display: flex; */
    /* justify-content: space-between; */
}

.main-banner {
    position: relative;
    width: 100%;
    height: 550px;
    margin-top: 5%;
    background-image: url('images/starbucks_main.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}
.overlay-text {
    position: absolute;
    top: 60%;
    right: 47%;
}
.overlay-text a {
    color: black;
    background-color: beige;
    padding: 5px 20px;
}

/* grid 구현 */
.submenu .submenu-content {
    display: grid;
    grid-template-columns: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    gap: 5px;
    font-size: 12px;
}

.submenu .submenu-content li a {
    color: darkgray;
    font-weight: normal;
}